# env
*.DS_Store
**/.DS_Store
__pycache__
.vscode
*.ipynb_checkpoints
ipynb_checkpoints
.env
# **/data/*

# folder
lightning_logs/*
**/node_modules/*
ring_capture

# common files
*.csv
*.txt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi
*.bin

# exception
!/data_demo/*
!/ring_capture/packages/examples