# env
*.DS_Store
**/.DS_Store
__pycache__
.vscode
*.ipynb_checkpoints
ipynb_checkpoints
.env
# **/data/*

# common files
*.csv
*.txt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi

# exception
!/data_demo/*