# env
*.DS_Store
**/.DS_Store
*.ipynb_checkpoints
__pycache__
.vscode
.env
**/node_modules/*

# common files
*.csv
*.txt
*.json
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi
*.bmp
*.zip

# log
*.log
*.err
*.out

# torch model
*.pt
*.pth
*.log
*.err
*.yaml
*.ckpt
*.cache

# folders
slides/
modules/

# exception
!**/demo/**
!requirements.txt
old_checkpoints/
